<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.automata"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AutomataApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.HomeScreenActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"/>

        <activity android:name=".ui.activity.DetailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activity.NewHomeScreenActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.activity.NewHomeScreenActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.activity.LiveStreamingActivity"
                  android:screenOrientation="landscape"
                  android:launchMode="singleTask"/>

    </application>

</manifest>
